[Desktop Entry]
Encoding=UTF-8
Name=Check in
Comment=Checks in the wheniwork website
Exec=checkin
Icon=utilities-terminal
Type=Application
GenericName[es_ES.UTF-8]=Checks in the wheniwork website
